*{
  margin: 0px;
  padding: 0px;
}

span{
  color: rgb(103, 28, 172);
}

.container-one{
  background-color: rgb(77, 152, 250);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
}

.nav-bar{
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  width: 80%;
  height: 50px;
  border-radius: 0 0 25px 25px ;
  gap: 80%;
}

ul{
  list-style: none;
  display: flex;
  gap: 20%;
}

.container-two{
  background-color: rgb(77, 152, 250);
  width: 100%;
  height: 720px;
  display: flex;
}

.article-container-two{
 margin: 0px 160px 0px 160px;
}

.article-container-two h1{
  font-size: 55px;
  color: white;
}

.btn{
  display: flex;
  align-items: center;
  background-color: white;
  width: 2%;
  padding: 2% 20% 2% 12%;
  border: 2px solid;
  border-radius: 100px;
  box-shadow: 2px 2px slategrey;
  margin-top: 30px;
}

.top-image{
  margin-top: 60px;
  width: 66%;
  border-radius:100% 100% 0% 0% ;
}

.top-imagetwo{
  margin: 70px;
  width: 60%;
  border-radius: 130px 0px;
}

.container-three article{
  text-align: center;
  flex-direction: row;
  margin: 30px 0px;
}

.aside-key{
  display: flex;
  align-items: center;
  background-color: grey;
  width: 25%;
  height: 150px;
  border-radius: 20px;
}

.keychain{
  width: 130px;
  height: 130px;
  border-radius: 100%;
}

.container-four{
  width: 100%;
  height: 1200px;
  background-color: blanchedalmond;
}

.container-four h1{
  padding: 100px;
  text-align: center;
}

.container-card-one{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.container-card-two{
  display: flex;
  align-items: center;
 justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.container-card-three{
  display: flex;
  align-items: center;
 justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.cards {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 15%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cards img{
  width:100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px
}
.containers {
  padding: 2px 16px;
  color: white;
  background-color: black;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.content-four{
  width: 100%;
  height: 360px;
}

.container-five{
  display: flex;
  justify-content: center;
}
.shirt-one{
  width: 300px;
  height: 350px;
}

.isi-content{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

footer{
  background-color: black;
  color: white;
  width: 100%;
  height: 330px;
  padding-top: 100px;
}

.container-footer{
  display: flex;
  justify-content: space-around;
}

.text-footer{
  padding-top: 20px;
}

.footer-icon{
  font-size: 30px;
  opacity: 0.8;
  padding-left: 105px;
  padding-top: 20px;
  display: flex;
  gap: 20px;
}

.footer-5{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}